html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

  .flex{
    display: flex;
    flex-wrap: wrap;
    background-color: orange;
    margin-bottom: 20px;
  }
.flex-grid{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  background-color: red;
}
.flrx-column{
  display: flex;

}

  .flex-center{
    justify-content: center;
  }

  .flex-align-center{
    align-items;center;
  }

  .box{
    width: 150px;
    height: 150px;
    background-color: lightblue;
    border: 3px solid blue;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .box-tall{
    width: 150px;
    height: 500px;
  }

  .row{
  display: flex;
  }
